*{
    font-family: "Delius", cursive;
}

body {
  --s: 60px;
  --c1: #a6dae4;
  --c2: #749aa1;
  --_g: radial-gradient(
    25% 25% at 25% 25%,
    var(--c1) 99%,
    rgba(0, 0, 0, 0) 101%
  );
  background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
      calc(2 * var(--s)),
    var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
    radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
      var(--s),
    repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
      calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
}
/*Menu*/
nav {
    position: fixed;
    background-color: rgb(0, 70, 128);
    width: 40%;
    justify-self: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 8vh;
    top: 0;
}

nav ol {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    height: 70%;
    align-items: center;
    padding: 0;
}

i {
    font-size: 28pt;
}

li:hover {
    padding-right: 155px;
    transition: all ease 0.8s;
}

li {
    color: rgb(255, 238, 238);
    position: relative;
    padding-left: 0;
    width: 45px;
    overflow: hidden;
    transition: all ease 0.8s;
}

li a {
    display: flex;
    width: 200px;
    gap: 10px;
    text-align: start;
}

li span {
    margin-left: 0px;
    text-align: end;
    align-content: center;
    font-size: large;
    font-weight: bold;
    color: white;
}

body,
html {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
  display: flex;
  justify-content: center;
  background-color: #262533;
  color: white;
  width: 100vw;
  height: 10vh;
}
a {
  text-decoration: none;
  font-size: 16pt;
}
main {
    display: flex;
    align-items: end;
    width: 80vw;
    height: 80vh;
    border: solid 3px rgb(99, 98, 98);
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #6e638d;
}
.div-dev{
    width: 40%;
    text-align: center;
    color: white;
}
.div-dev img{
    border-radius: 100%;
    width: 40%;
    border: 3px solid white;
}