/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

/* Body e HTML: tamanho máximo e centralização da main */
body,
html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

body {
    --s: 60px;
    --c1: #a6dae4;
    --c2: #749aa1;
    --_g: radial-gradient(25% 25% at 25% 25%,
            var(--c1) 99%,
            rgba(0, 0, 0, 0) 101%);
    background: var(--_g) var(--s) var(--s) / calc(2 * var(--s)) calc(2 * var(--s)),
        var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
        radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s) var(--s),
        repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%) calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
   
}

body,button {
    font-size: 15pt;
    font-family: "Delius", cursive;
}
/*Classe que desativa a interação com mouse*/
.disabled {
    pointer-events: none;
}
.disabled button, .disabled a {
    opacity: 0.5;
    transition: all 0.25 ease;
}
nav {
    position: fixed;
    background-color: #004680;
    width: 35%;
    height: 60px;
    top: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

nav ol {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;

}



i {
    font-size: 28pt;
}

nav li:hover {
    width: 180px;
    transition: all ease 0.8s;
}

nav li {
    color: rgb(255, 238, 238);
    position: relative;
    padding-left: 0;
    width: 45px;
    height: 80%;
    align-content: center;
    overflow: hidden;
    transition: all ease 0.8s;
}

nav li a {
    display: flex;
    width: 180px;

}

nav li span {
    margin-left: 10px;
    text-align: end;
    align-content: center;
    font-size: large;
    font-weight: bold;
    
}
/* Main container */
main {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 80vw;
    height: 80vh;
    border: solid 3px rgb(99, 98, 98);
    flex-direction: column;
    border-radius: 10px;
    background-image: url("../images/hud/ódio\ salgado.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Botões de início */
.botoes-inicio {
    z-index: 10;
    position: absolute;
    bottom: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.6);
}

.menu img {
    position: absolute;
    top: 3%;
}

.botao-inicio {
    padding: 4px;
    font-family: "Cinzel", serif;
    font-size: 30px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.952);
    font-weight: bold;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.menu button:hover {
    color: rgb(51, 134, 202);

}

.botao-inicio:hover {
    cursor: pointer;
    font-size: 36px;
}

.botao-passar {
    padding: 4px;
    font-size: 26px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.952);
    font-weight: bold;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.botao-passar:hover {
    cursor: pointer;
}

/* Switch case / cenas */
.cenas,
section {
    display: none;
}

/* Opções de diálogo */
.opcao {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    width: 80%;
    text-align: left;
}

.opcao:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.226);
}

.bot-opc {
    display: flex;
    gap: 10px;
    margin: 20px 40px;
}

/* HUD */
.hud {
    display: flex;
    height: 32%;
    width: 100%;
    border: solid 1px rgb(0, 17, 255);
    background-color: rgba(15, 42, 82, 0.7);
    color: white;
   
    z-index: 5;
    flex-direction: column;
}

.hud p {
    margin: 2%;
    margin-bottom: 1%;
    z-index: 2;
}

/* Imagem de personagem */
.personagem {
    position: absolute;
    width: 65vw;
    height: 70vh;
    z-index: 1;
}

#tela1 {
    width: 100%;
    height: 100%;
    display: flex;
   align-items: end;
   justify-content: center;
}
/* Barra de relacionamento */
#barraInterna {
    position: relative;
    background-color: white;
    width: 22px;
    height: 0px;
    transition: ease-in-out 1s;
    border-radius: 50px;
    /*a ideia é fazer ele se repetir pela barrinha q nem amor doce e d=fica mais transparente(vou ter que desligar o pc)*/
    background-image: url(../images/hud/Relhudimg.png);
    
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: rgba(255, 255, 255, 0.3); 
}

#maxBarra{
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    border-radius: 50px;
}

#barraExterna {
    width: 30px;
    height: 300px;
    padding: 5px;
    background-color: #ffffff00;
    border-radius: 50px;
    transition: ease-in-out 0.5s;
}

.nomeBarra {
    width: 100%;
    height: 20px;
    text-align: center;
}

#hudRelacionamento {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 9%;
    right: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
    color: white;
    gap: 10px;

}

#HorasHud img {
    display: flex;
    justify-self: center;
    width: 50px;
    height: 50px;

}

#nhoras{
    font-size: 30pt;
}

#HorasHud {
    margin-bottom: 10px;

}

#hud-itens, #menu-relacionamento{
    position: absolute;
    display: none;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    padding: 2%;
    color: white;
    width: 70vw;
    height: 70vh;
    border-radius: 10px;
    border: 5px solid transparent;
}

#menu-icones{
    display: none;
    position: absolute;
    left: 11%;
    top: 11%;
    color: white;
    gap: 30px;
}

#vencedor{
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 20pt;
}

.icone{
    cursor: pointer;
}

#menu-relacionamento{
    display: none;
    gap: 50px;
    flex-direction: column;
    z-index: 10;
}

.hud-personagem{
    display: flex;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    
}   

#texto-menu-per{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.barra-hud{
    background-color: white;
    height: 10px;
    align-self: start;
    border-radius: 10px;
    display: flex;
    transition: ease-in-out 0.5s;
}

.img-hud{
    width: 150px;
    height: 150px;
}

.img-hud:hover{
    cursor: pointer;
}

.linha-menu-rel{
    display: flex;
    gap: 80px;
}

.sem-coxinha{
    display: block;
    position: absolute;
    top: 80%;
    color: white;
    z-index: 12;
    height: 30px;
    width: 210px;
    transition: ease-in-out 1.5s;
}

#linha2{
    margin-top: -30px;
    padding-top: 10px;
}

.nomeItens{
    font-size: 20pt;
    color: aquamarine;
}

.descItens{
    width: 80%;
    text-align: center;
}

.botItem{
    margin-top: 1%;
    padding: 8px;
    font-size: 16pt;
    border-radius: 10px;
    background-color: rgba(59, 183, 240, 0.7);
    color: rgb(255, 255, 255);
}

.imgItens{
    width: 25%;
}


#items{
    position: relative;
    left: -40%;
    z-index: 10;
    display: none;                      
    height: 200px;
    width: 200px;
    gap: 10px;
    justify-content: start;
    padding: 8px;
    border-radius: 8px;
    flex-wrap: wrap;            
    background-color: #0b2f34e1;
}

#hud-loja{
    position: absolute;
    color: rgb(255, 255, 255);
    left: 13%;
    top: 13%;
}
#itensLoja{
    position: absolute;
    display: flex;
    align-items: center;
}
.botaocomprar{
    background-color: rgb(51, 134, 202);
    width: 100%;
    height: 35px;
    color: white;
    border-radius: 10px;
}
.botaocomprar:hover{
    background-color: #004680;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    transform: scale(1.2);
}

.botao-fechar-menu{
    background-color: rgb(51, 134, 202);
    width: 25%;
    height: 6%;
    border-radius: 10px;
    color: white;
    height: 5%;
    width: 20%;
    border: 1px solid black;
}

#fechar-loja{
    height: 40px;
}

.botao-fechar-menu:hover{
    transition: ease-in-out 0.4s;
    transform: scale(1.3);
    cursor: pointer;
    background-color: #004680;
}

#quadrado-loja{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 15%;
    left: 30%;
    width: 40%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    z-index: 15;
    color: white;
    gap: 20px;
}
#quadrado-loja h2{
    font-size: 60pt;
    height: 10%;
}
.imgLoja img{
    width: 180px;
    height: 180px;
}
.imgLoja{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.itemInvent{
    width: 58px;
    height: 50px;
}

#minigame{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;     
}

#texto-minigame{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    gap: 30px;
    width: 60%;
    height: 80%;
    position: absolute;
    top: 10%;
    bottom: 10%;
}

#botao-minigame{
    padding: 5px;
    background-color: #12831b;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 12pt;
    z-index: 2;
    cursor: pointer;
    border: 2px solid green;
}

#botao-minigame:hover{
    background-color: #0d582f;
    transition: ease-in-out 0.3s;
    box-shadow: black ;
    transform: scale(1.3);
}

#spawnBarata{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}

#desc-minigame{
    width: 70%;
    margin-top: -2.4%;
    font-size: 13pt;
}

#temporizador{
    display: none;
    width: 2%;
    justify-self: center;
    height: 10%;
    display: flex;
    color:white;
    font-size: 40pt;
}
.barata{
    width: 100px;
    position: absolute;
    cursor: pointer;
}

#hudinventario:hover #items {
    display: flex;
}

.botItem:hover{
    cursor: pointer;
    background-color: #0e434d;
    transition: ease-in-out 0.2s;
}

.textoItens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Menu de confirmação para voltar ao menu*/

#confirmacaoReiniciar{
    color: white;
    background-color: #001323;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    width: 36%;
    height: auto;
    z-index: 11;
    position: absolute;
    border-radius: 6px;
    transform: scale(0.85);
    transition: opacity 0.25s ease, transform 0.25s ease;
    opacity: 0;
}


#confirmacaoReiniciar div{
    margin: 16px 0;
}
#confirmacaoReiniciar div:first-child {
    text-align: center;
}

#confirmacaoReiniciar div:last-child{
    display: none;
    gap: 14px;
}
#confirmacaoReiniciar button {
    background-color: white;
    color: #001323;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#confirmacaoReiniciar button:hover {
    transform: scale(1.1);
    background-color: #e8e8e8;
    transition: transform 0.5s ease, background-color 0.1s ease;
}

#confirmacaoReiniciar button:active {
    transform: scale(0.975);
    transition: all 0.2s ease;
}

/* Menu do log dos personagens */
#logPersonagens {
    position: absolute;
    background-color: #0b1014;
    display: none;
    color: white;
    width: 28%;
    height: 78%;
    z-index: 11;
    border-radius: 20px;
    transform: scale(0.85);
    transition: opacity 0.25s ease, transform 0.25s ease;
    opacity: 0;
}

#listaPersonagens {
    max-height: 92%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#logMenu {
    height: 100%;
    width: 100%;
    display: block;
}

#logHeader {
    background-color: #1a2127;
    display: flex;
    justify-content: space-around;
    gap: 40%;
    align-items: center;
    height: 8%;
    border-radius: 20px 20px 0 0;
}

#logHeader .icons i {
    font-size: larger;
    color: #21c162;
    padding: 6px 0;
}

#listaPersonagens img,
#logConversa img {
    height: 60px;
    width: 60px;
    justify-self: end;
    border-radius: 50px;
}

#listaPersonagens span {
    align-content: center;
    text-indent: 7%;
    padding-bottom: 6px;
}

.linha {
    height: 2px;
    width: 100%;
    background-color: #1e1f20;
}

#listaPersonagens li {
    display: grid;
    height: 68px;
    padding: 4px 0;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 90px auto 100px;
}

#listaPersonagens li:hover {
    background-color: #181f24;
    cursor: pointer;
}

#listaPersonagens li:first-child {
    margin-top: 22px;
}

#x {
    color: white;
    background-color: red;
    transform: scale(0.5);
    position: absolute;
    border: none;
    padding: 10px 6px;
    border-radius: 100%;
    left: 94%;
    top: -3%;
    cursor: pointer;
}

#listaPersonagens::-webkit-scrollbar, #conversaLog::-webkit-scrollbar{
    display: none;
}

/* CSS da página da conversa em si */
#logConversa {
    display: none;
    height: 100%;
    width: 100%;
}

#conversaHeader {
    background-color: #181c20;
    width: 100%;
    height: 5rem;
    border-radius: 20px 20px 0 0;
    align-content: center;
    border-bottom: #1e1f20;
}

#conversaHeader div {
    text-wrap: nowrap;
    font-weight: bold;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 6fr 3fr;
}

#conversaHeader div > i {
    justify-self: center;
    cursor: pointer;
}

#logConversa img {
    justify-self: center;
}

#conversaHeader .icons {
    display: flex;
    gap: 20px;
}

#conversaHeader .icons i {
    font-size: 21pt;

}


#conversaHeader i {
    font-size: 32pt;
}



#conversaLog {
    overflow-y: scroll;
    height: calc(100% - 5rem) ;
    display: flex;
    background-color: #0b1014;
    border-radius: 0 0 20px 20px;
    flex-direction: column;
    
}

.log-npc{
    display: inline-block;
    margin: 8px;
    padding: 8px;
    max-width: 70%;
    text-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    border-top-left-radius: 4px;
}

.log-player{
    display: inline-block;
    margin: 8px;
    padding: 8px;
    max-width: 70%;
    text-wrap: wrap;
    background-color: rgb(20, 76, 55);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    border-top-right-radius: 4px;
    align-self: end;
    
}