/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

/* Body e HTML: tamanho máximo e centralização da main */
body,
html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

body {
    --s: 60px;
    --c1: #a6dae4;
    --c2: #749aa1;
    --_g: radial-gradient(25% 25% at 25% 25%,
            var(--c1) 99%,
            rgba(0, 0, 0, 0) 101%);
    background: var(--_g) var(--s) var(--s) / calc(2 * var(--s)) calc(2 * var(--s)),
        var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
        radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s) var(--s),
        repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%) calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
}

nav {
    position: fixed;
    background-color: rgb(0, 70, 128);
    width: 95%;
    height: 60px;
    top: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

nav ol {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;

}



i {
    font-size: 28pt;
}

li:hover {
    padding-right: 155px;
    transition: all ease 0.8s;
}

li {
    color: rgb(255, 238, 238);
    position: relative;
    padding-left: 0;
    width: 45px;
    overflow: hidden;
    transition: all ease 0.8s;
}

li a {
    display: flex;
    width: 180px;

}

li span {
    margin-left: 10px;
    text-align: end;
    align-content: center;
    font-size: large;
    font-weight: bold;
    
}
/* Main container */
main {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 80vw;
    height: 80vh;
    border: solid 3px rgb(99, 98, 98);
    flex-direction: column;
    border-radius: 10px;
    background-image: url("images/hud/ódio\ salgado.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Botões de início */
.botoes-inicio {
    position: absolute;
    bottom: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.6);
}

.menu img {
    position: absolute;
    top: 3%;
}

.botao-inicio {
    padding: 4px;
    font-family: "Cinzel", serif;
    font-size: 30px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.952);
    font-weight: bold;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.menu a:hover {
    color: rgb(51, 134, 202);

}

.botao-inicio:hover {
    cursor: pointer;
    font-size: 36px;
}

.botao-passar {
    padding: 4px;
    font-size: 26px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.952);
    font-weight: bold;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.botao-passar:hover {
    cursor: pointer;
}


/* Switch case / cenas */
.cenas,
section {
    display: none;
}

/* Opções de diálogo */
.opcao {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    width: 80%;
    text-align: left;
}

.opcao:hover {
    cursor: pointer;
}

.bot-opc {
    display: flex;
    gap: 10px;
    margin: 20px 40px;
}

/* HUD */
.hud {
    display: flex;
    height: 30%;
    width: 100%;
    border: solid 1px rgb(0, 17, 255);
    background-color: rgba(15, 42, 82, 0.7);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 5;
    flex-direction: column;
}

.hud p {
    margin: 2%;
}

.dialogo {
    margin-bottom: 30px;
}

/* Imagem de personagem */
.personagem {
    position: absolute;
    width: 65vw;
    height: 70vh;
    z-index: 1;
}

/* Barra de relacionamento */
#barraInterna {
    position: relative;
    background-color: white;
    width: 22px;
    height: 0px;
    transition: ease-in-out 1s;
    border-radius: 50px;
    /*a ideia é fazer ele se repetir pela barrinha q nem amor doce e d=fica mais transparente(vou ter que desligar o pc)*/
    background-image: url(images/hud/Relhudimg.png);
    
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: rgba(255, 255, 255, 0.3); 
}

#maxBarra{
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    border-radius: 50px;
}

#barraExterna {
    width: 30px;
    height: 300px;
    padding: 5px;
    background-color: #ffffff00;
    border-radius: 50px;
    transition: ease-in-out 0.5s;
}

.nomeBarra {
    width: 100%;
    height: 20px;
    text-align: center;
}

#hudRelacionamento {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 9%;
    right: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
    color: white;
    gap: 10px;

}

#HorasHud img {
    display: flex;
    justify-self: center;
    width: 50px;
    height: 50px;

}

#nhoras{
    font-size: 30pt;
}

#HorasHud {
    margin-bottom: 10px;

}

#hud-itens{
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    padding: 10px;
    color: white;
    width: 10px;
    height: 10px;
    transition: ease-in-out 0.2s;
    border-radius: 10px;
    border: 5px solid transparent;
}

.nomeItens{
    font-size: 20pt;
    color: aquamarine;
}

.botItem{
    margin-top: 20px;
    padding: 8px;
    font-size: 16pt;
    border-radius: 10px;
    background-color: rgba(59, 183, 240, 0.7);
    color: rgb(255, 255, 255);
}

.botItem:hover{
    cursor: pointer;
    background-color: #0e434d;
    transition: ease-in-out 0.2s;
}

.textoItens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

